.add-page-heading{
    text-align: center;
}

.user-input{
    margin:20px;
    display: block;
    font-size: 20px;
    width: 60%;
    padding: 10px 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 1px black;
    border-radius: 20px;
}
.medicen-add-btn{
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    background-color: rgb(137, 252, 137);
    color: black;
    padding: 5px 10px ;
    cursor: pointer;
    font-size: 20px;
}

.medicen-form{
    margin: 20px auto;
    position: relative;
    left:70px;
    width: 550px;
}
.Home-img-addpage{
    position: fixed;
    top: 30px;
    right: 50px;
    height: 40px;
}